<div class="flex align-items-center">
  <div class="col-2">
    <h1>Respected Renos</h1>
  </div>
  <div class="col-8 flex justify-content-center">
    <button pButton pRipple type="button" label="Home" class="p-button-text"></button>
    <button pButton pRipple type="button" label="Contact Us" class="p-button-text"></button>
    <button pButton pRipple type="button" label="Primary" class="p-button-text"></button>
  </div>
  <div class="col-2 ">
    <button pButton type="button" label="Get Estimate"></button>
  </div>
</div>
