<!-- <div class="flex">
  <div class="col-6 left-header" style="background-color: #FEFAE0;"><p-image src="assets/logo-1.png" alt="Image" width="500"></p-image></div>
  <div class="col-6 right-header"><p-image src="assets/bathroom-1.jpeg" alt="Image" width="1000"></p-image></div>
</div> -->

<!-- style="border: 1px solid black;" -->

<div class="home-container flex flex-column m-8">
  <div class="header flex">
    <div class="left-side col-6 flex flex-column align-items-center">
      <div class="flex justify-content-center align-items-center gap-2">
        <p-image
          src="../../../assets/Respectable Renos Logo.png"
          alt="Logo"
          width="200"
        ></p-image>

        <button
          pButton
          pRipple
          type="button"
          label="Home"
          class="p-button-text"
        ></button>

        <button
          pButton
          pRipple
          type="button"
          label="About Us"
          class="p-button-text"
        ></button>
        <button
          pButton
          pRipple
          type="button"
          label="Services"
          class="p-button-text"
        ></button>
      </div>

      <div class="w-28rem pt-8 font-bold">
        <p class="text-6xl inline" style="color: #1155cc">Masters </p>
        <p class="text-6xl inline">of Consistency and</p>
        <p class="text-6xl inline" style="color: #1155cc"> Quality.</p>
        <p class="w-28rem">
          Blessing welcomed ladyship she met humoured sir breeding her. Six
          curiosity day assurance bed necessary.
        </p>

        <div class="flex justify-content-evenly pt-5">
          <button
            pButton
            pRipple
            type="button"
            label="Explore"
            class="p-button-raised w-5"
          ></button>

          <button
            pButton
            pRipple
            type="button"
            label="Contact Us"
            class="p-button-outlined w-5"
          ></button>
        </div>
      </div>
    </div>

    <div class="right-side col-6">
      <p-image src="../../../assets/hero image.png" alt="Image"></p-image>
    </div>
  </div>

  <div class="absolute top-50">
    <p-image src="../../../assets/swirl-design.png" alt="Image"></p-image>
  </div>

  <!-- <p-divider></p-divider> -->

  <div class="separator flex justify-content-center mt-8">
    <p-image src="../../../assets/white-pill-block.png" alt="Image"></p-image>
  </div>

  <div class="aboutus-section flex justify-content-center flex-wrap mt-5">
    <div class="col-6 flex flex-column align-items-center">
      <p class="w-8">
        Blessing welcomed ladyship she met humoured sir breeding her. Six
        curiosity day assurance bed necessary.
      </p>
      <button
        pButton
        pRipple
        type="button"
        label="Explore"
        class="p-button-raised w-5"
      ></button>
    </div>

    <div class="col-6">
      <p class="text-6xl">About Us</p>
    </div>

    <div class="left-side col-6 flex justify-content-center">
      <p-image src="../../../assets/aboutus-image.png" alt="Image"></p-image>
    </div>

    <div class="right-side col-6 flex flex-column justify-content-evenly">
      <div class="flex">
        <p-image src="../../../assets/aboutus-1.png" alt="Image"></p-image>
        <p>
          And residence for met the estimable disposing. Mean if he they been no
          hold mr. Is at much do made took held help.
        </p>
      </div>
      <div class="flex">
        <p-image src="../../../assets/aboutus-2.png" alt="Image"></p-image>
        <p>
          And residence for met the estimable disposing. Mean if he they been no
          hold mr. Is at much do made took held help.
        </p>
      </div>
      <div class="flex">
        <p-image src="../../../assets/aboutus-3.png" alt="Image"></p-image>
        <p>
          And residence for met the estimable disposing. Mean if he they been no
          hold mr. Is at much do made took held help.
        </p>
      </div>
    </div>
  </div>

  <div class="services-section flex flex-column">
    <div class="services-header flex flex-column align-items-center">
      <p class="text-6xl">Services</p>
      <p>
        Blessing welcomed ladyship she met humoured sir breeding her. Six
        curiosity day assurance bed necessary.
      </p>
    </div>

    <div class="flex">
      <p-card header="Service 1" styleClass="p-card-shadow" class="col-4">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore
          sed consequuntur error repudiandae numquam deserunt quisquam repellat
          libero asperiores earum nam nobis, culpa ratione quam perferendis
          esse, cupiditate neque quas!
        </p>
      </p-card>

      <p-card header="Service 2" styleClass="p-card-shadow" class="col-4">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore
          sed consequuntur error repudiandae numquam deserunt quisquam repellat
          libero asperiores earum nam nobis, culpa ratione quam perferendis
          esse, cupiditate neque quas!
        </p>
      </p-card>

      <p-card header="Service 3" styleClass="p-card-shadow" class="col-4">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore
          sed consequuntur error repudiandae numquam deserunt quisquam repellat
          libero asperiores earum nam nobis, culpa ratione quam perferendis
          esse, cupiditate neque quas!
        </p>
      </p-card>
    </div>
  </div>

  <div
    class="message-separator flex justify-content-center align-content-center mt-5 align-items-center"
  >
    <div
      style="
        background-color: #313131;
        color: #fafafa;
        width: 50rem;
        height: 70%;
        padding: 5em;
      "
      class="border-round-md"
    >
      <p class="text-center text-6xl">Message from CEO</p>

      <p>
        Shewing met parties gravity husband sex pleased. On to no kind do next
        feel held walk. Last own loud and knew give gay four. Sentiments
        motionless or principles preference excellence am. Literature surrounded
        insensible at indulgence or to admiration remarkably. Matter future
        lovers desire marked boy use. Chamber reached do he nothing be.
      </p>

      <p>
        Do in laughter securing smallest sensible no mr hastened. As perhaps
        proceed in in brandon of limited unknown greatly. Distrusts fulfilled
        happiness unwilling as explained of difficult. No landlord of peculiar
        ladyship attended if contempt ecstatic. Loud wish made on is am as hard.
        Court so avoid in plate hence. Of received mr breeding concerns peculiar
        securing landlord. Spot to many it four bred soon well to. Or am
        promotion in no departure abilities. Whatever landlord yourself at by
        pleasure of children be.
      </p>
    </div>
  </div>

  <div class="contactus-section">
    <div class="services-header flex flex-column align-items-center">
      <p class="text-6xl">Contact Us</p>
      <p>
        Blessing welcomed ladyship she met humoured sir breeding her. Six
        curiosity day assurance bed necessary.
      </p>
    </div>

    <div class="flex">
      <div class="col-5 p-inputgroup flex flex-column justify-content-evenly">
        <span class="p-float-label">
          <input id="float-input" type="text" pInputText />
          <label for="float-input">Name</label>
        </span>

        <span class="p-float-label">
          <input id="float-input" type="text" pInputText />
          <label for="float-input">Email</label>
        </span>

        <span class="p-float-label">
          <input id="float-input" type="text" pInputText />
          <label for="float-input">Subject</label>
        </span>

        <span class="p-float-label">
          <textarea
            id="float-input"
            rows="5"
            cols="30"
            pInputTextarea
          ></textarea>
          <label for="float-input">Message</label>
        </span>

        <button
          pButton
          pRipple
          type="button"
          label="Submit"
          class="p-button-raised w-5"
        ></button>
      </div>

      <div class="col-7">
        <p-image src="../../../assets/map.png" alt="Image"></p-image>
      </div>
    </div>

    <div class="projects-separator flex flex-column">
      <div class="services-header flex flex-column align-items-center">
        <p class="text-6xl">Recent Projects</p>
        <p>
          Blessing welcomed ladyship she met humoured sir breeding her. Six
          curiosity day assurance bed necessary.
        </p>
      </div>

      <div class="flex">
        <p-card header="Project 1" class="col-6">
          <p></p>
        </p-card>

        <p-card header="Project 2" class="col-6">
          <p></p>
        </p-card>
      </div>
    </div>

    <!-- <div class="newsletter-separator flex flex-column align-items-center m-5">
      <div class="services-header flex flex-column align-items-center">
        <p class="text-4xl">Subscribe To Our Newsletter</p>
      </div>

      <button
        pButton
        pRipple
        type="button"
        label="Subscribe"
        class="p-button-raised w-2"
      ></button>
    </div> -->

    <p-divider></p-divider>

    <div class="footer flex">
      <div class="footer-1 col-3 flex flex-column align-items-end">
        <p-image
          src="../../../assets/Respectable Renos Logo.png"
          alt="Logo"
          width="100"
        ></p-image>
      </div>
      <div class="footer-2 col-3">
        <p>Slogan</p>

        <div class="flex gap-2">
          <p-image src="../../../assets/facebook.png" alt="Image"></p-image>
          <p-image src="../../../assets/twitter.png" alt="Image"></p-image>
          <p-image src="../../../assets/indeed.png" alt="Image"></p-image>
        </div>
      </div>
      <div class="footer-3 col-3">
        <p>Company</p>

        <p>Terms of use</p>
        <p>Privacy</p>
      </div>
      <div class="footer-4 col-3 flex flex-column align-items-start">
        <p>Get in touch</p>

        <span class="p-input-icon-right">
          <i class="pi pi-arrow-circle-right"></i>
          <input type="text" pInputText />
        </span>
      </div>
    </div>
  </div>
</div>
