/* You can add global styles to this file, and also import other style files */

@font-face{
  font-family: 'Monterrat-Italic';
  src: url('../src/assets/Montserrat-Italic-VariableFont_wght.ttf');
}

@font-face{
  font-family: 'Montserrat';
  src: url('../src/assets/Montserrat-VariableFont_wght.ttf');
}

body{
  margin:0;
  padding:0;
  color: #313131;
}
